[MESSAGES CONTROL]
disable=missing-docstring,
    redefined-outer-name,
    unused-argument,
    redefined-builtin,
    invalid-name,
    len-as-condition,
    bad-whitespace,
    no-self-use,
    line-too-long,
    unused-import,
    missing-final-newline,
    superfluous-parens,
    useless-object-inheritance,
    fixme,
    consider-using-in,
    too-few-public-methods,
    bad-continuation,
    too-many-locals,
    too-many-return-statements,
    too-many-instance-attributes,
    unidiomatic-typecheck,
    protected-access,
    too-many-arguments,
    bare-except,
    too-many-branches,
    too-many-nested-blocks,
    too-many-public-methods,
    too-many-statements,
    too-many-boolean-expressions,
    unnecessary-lambda,
    dangerous-default-value,
    import-outside-toplevel,
    no-member,
indent-string='  '